body {
  font-size: 16px;
}
.como img {
  width: 60%;
}
.como ul {
  display: inline-block;
  line-height: 40px;
}
#contenedorIntro {
  height: 150px;
}
.datosEquipo {
  margin: 0 0.5em;
  padding: 1em;
  display: inline-block;
  text-align: top;
}
.datosEquipo h4,
h5,
h6 {
  margin: 0;
}
.divicion {
  margin-top: 62px;
  border: solid #f00 1px;
}
header {
  background: #f5f5f5;
  padding: 0.1em 0 0 0.1em;
  position: fixed;
  width: 100%;
  z-index: 50;
}
header img {
  display: inline-block;
  height: 60px;
}
header li {
  display: inline-block;
  float: right;
  line-height: 60px;
  margin-right: 2em;
}
header #menu {
  display: inline-block;
  float: right;
  margin-top: 20px;
}
.inicio.divicion {
  background: #f5f5f5;
  margin: 25% 0 0 10%;
}
.inicio figure {
  border: 1px dotted #fff;
  float: left;
  margin: -15% 0.2em 0.2em -5%;
  position: relative;
  width: 200px;
}
.inicio figure img {
  width: 100%;
}
.next {
  text-align: center;
}
.persona {
  display: inline-block;
  border: 1px solid #000;
  width: 480px;
}
.persona img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}
.publico {
  color: #808080;
  font-style: italic;
}
section {
  border: 2px dotted #00f;
  padding: 0;
}
#section0 {
  background: #00008b;
}
